@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
	padding:0;
	margin:0;
	border-collapse:collapse;
}
html{
	background:#b3b3ff url(img/CookieMngr.png) no-repeat 50% 50% fixed;
	background-size:contain;
	overflow:hidden;
}
body{
	width:100%;
}
#menu{
	position:fixed;
	height:100%;
	white-space:nowrap;
	font-size:25px;
	font-weight:bold;
	overflow-x:hidden;
	overflow-y:auto;
}
#menu span{
	padding:5px;
	border:2px solid #00f;
	color:#00f;
	line-height:48px;
	background-color:#fff;
	margin-right: 20px;
}
#menu span:hover{
	background-color:#ffabab;
	color:#000;
	cursor:pointer;
}
#menu span:hover a,a:hover{
	color:#fff;
	text-shadow:0 0 25px #000;
}
a{
	text-decoration:none;
	color:#00f;
	transition:all .3s ease 0s;
	-moz-transition:all .3s ease 0s;
	-webkit-transition:all .3s ease 0s;
	-o-transition:all .3s ease 0s;
}
code{
	padding:3px;
	font-size:85%;
	background-color:rgba(27,31,35,0.05);
	border-radius:5px;
}
img{max-width:90%;}
li{text-align:left;margin-left:20px;}
.page{
	position:fixed;
	top:0;
	left:210px;
	right:0;
	bottom:0;
	text-align:center;
	display:block;
	border:2px solid #00f;
	background-color:rgba(255,255,255,.85);
	padding:20px;
	overflow-y:auto;
	opacity:0;
	font-size:25px;
	transition:all .5s ease-out 0s,transform .5s;
	-moz-transition:all .5s ease-out 0s,-moz-transform .5s;
	-webkit-transition:all .5s ease-out 0s,-webkit-transform .5s;
	-o-transition:all .5s ease-out 0s,-o-transform .5s;
	transform:translateX(-150%);
	-moz-transform:translateX(-150%);
	-webkit-transform:translateX(-150%);
	-o-transform:translateX(-150%);
}
.page:target{
	opacity:1;
	transform:translateX(0);
	-moz-transform:translateX(0);
	-webkit-transform:translateX(0);
	-o-transform:translateX(0);
}
.clear{clear:both;}
